@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --red: #F64B56;
  --gray-1: #2D2E32;
  --gray-2: #25262A;
  background-color: var(--gray-1);
}

.fira-code {
  font-family: 'Fira Code', monospace;
}

.home-section {
  height: calc(100vh - 112px);
}

.nav-container {
  height: 80px;
}

.nav-link:hover {
  color: var(--red);
  transition: all 200ms;
}

.active-link {
  color: var(--red);
  font-weight: 900;
}

.active-link::after {
  content: " >";
  font-weight: 900;
}

.active-link::before {
  content: "< ";
  font-weight: 900;
}

.red {
  color: var(--red);
}

.media-side {
  top: 50%;
  transform: translateY(-50%) scale(1);
  background-color: var(--gray-2);
  transition: all 100ms;
}

.media-side:hover {
  transform: translateY(-50%) scale(1.07);
}

.media-side:hover > li {
  color: rgb(150, 150, 150);
  transition: all 200ms;
}

.media-side:hover > li:hover {
  color: white;
  transform: scale(1.05);
}

.fullstack-span {
  background-color: var(--red);
  color: var(--gray-2);
}

.gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--gray-1) 0%, rgba(252,176,69,0) 30%);
}

.back-container {
  width: 100%;
  aspect-ratio: 0.84;
  background-image: url('./assets/me-homepng.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveBackground 800ms ease-in-out forwards;
}

.home-back {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 50%;
}

.gradient-home {
  background: linear-gradient(90deg, rgba(45,46,50,1) 0%, rgba(45,46,50,0) 50%);
}

.recent-works-section {
  background-color: var(--gray-2);
  box-shadow: 0 -5px 0 var(--gray-2);
  background-image: url('./assets/recent-back.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.works-grid {
  grid-template-columns: repeat( auto-fit, minmax(279px, 1fr) );
}

.work-card-content {
  background-color: #1e1f22d2;
}

.skills {
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.774);
  color: #1d1e20;
  font-weight: 600;
  border-radius: 5px;
}

.about {
  background-image: url('./assets/about-last.svg');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.form-input {
  padding: 10px 10px;
  background-color: var(--gray-2);
  border-radius: 5px;
  transition: all 200ms;
}

.form-input:focus {
  transform: scale(1.02);
  padding-left: 15px;
  outline: none;
}

.form-input::placeholder {
  color: white;
  font-weight: 500;
}

@keyframes moveBackground {
  0% {
    background-position: -500px 0; /* Start with the background image at its initial position */
  }
  100% {
    background-position: left; /* Move the background image to the right edge */
  }
}
